<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <h1><a href="{{ site.baseurl }}/">
      Austin Pedicab
      <!-- <img src="/img/icons/logo-yellow.png"> -->
    </a></h1>
    
    <div class="ph-number">
      <a class="book-button" id="trigger-overlay" href="#!">Book Now!</a>


      <a href="#"><span>(512)</span> 555-0123</a>
    </div>

    <!-- <div class="show-width"></div> -->

    <a href="#" class="navigation-menu-button" id="js-mobile-menu"><img src="/img/icons/burger1.png"><span class="menuword">Menu</span></a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <a href="{{ site.baseurl }}/">
            <img src="/img/icons/home.png"><span>Home</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="{{ site.baseurl }}/tours/">
            <img src="/img/icons/pedicab.png"><span>Tours</span>
        </a>
      </li>
        <li class="nav-link">
          <a href="{{ site.baseurl }}/about/">
            <img src="/img/icons/butt.png"><span>About</span>
        </a>
      </li>
        <li class="nav-link">
          <a href="{{ site.baseurl }}/partners/">
            <img src="/img/icons/partners.png"><span>Partners</span>
        </a>
      </li>
        <li class="nav-link">
          <a href="{{ site.baseurl }}/contact/">
            <img src="/img/icons/contact-chat.png"><span>Contact</span>
        </a>
      </li>
      </ul>
    </nav>     

 

    </div>  


</header>