<footer class="site-footer">

  <h2><a href="{{ site.baseurl }}">
    Austin Pedicab Co.
    <!-- <img src="{{ site.baseurl }}/img/icons/logo-yellow.png"> -->
  </a></h2>

  <h4>Created by: Austin Matherne 
    <BR>@ The Iron Yard - Aug 2015</h4>

  <ul>
    
    <li class="nav-link">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/icons/home.png"><span>Home</span>
      </a>
    </li>

    <li class="nav-link">
      <a href="{{ site.baseurl }}/tours/">
        <img src="{{ site.baseurl }}/img/icons/pedicab.png"><span>Tours</span>
      </a>
    </li>

    <li class="nav-link">
      <a href="{{ site.baseurl }}/about/">
        <img src="{{ site.baseurl }}/img/icons/butt.png"><span>About</span>
      </a>
    </li>

    <li class="nav-link">
      <a href="{{ site.baseurl }}/partners/">
        <img src="{{ site.baseurl }}/img/icons/partners.png"><span>Partners</span>
      </a>
    </li>

    <li class="nav-link">
      <a href="{{ site.baseurl }}/contact/">
        <img src="{{ site.baseurl }}/img/icons/contact-chat.png"><span>Contact</span>
      </a>
    </li>

  </ul>

</footer>

