.home {
	  background: $brandcolor;
  	width: 100%;
  	position: relative;
  	overflow: hidden;
	.cab-hail {
		display: none;
	}
  .landing-home {
    display: none;
  }
	.call {
		display: none;
	}
	.tag-line {
	    text-align: center;
	    @include margin(1em auto);
	    display: block;
	    width: 94%;
	    position: relative;
	    overflow: hidden;
	    @include padding(1em 0);
	    background: url('../img/kids.jpg');
	    background-repeat:no-repeat;
	    background-position: 80% 80%;
	    background-size: cover;
	    // z-index: 1;
	    @include border-radius(0.4em);

	    &:before {
	        content: '';
	        overflow: hidden;
	        width: 100%;
	        height: 100%;
	        position: absolute;
	        top:0;
	        left:0;
            // background-color: darken(rgba(46,82,107,0.6),15%);
                  background-color: darken(rgba(46,82,107,0.6),5%);

	        // z-index: -1;
	    	@include border-radius(0.4em);

	    }
	    h2 {
	      	display: block;
	      	@include font(4);
	      	line-height: 1.7em;
          position: relative;
          opacity: 1;
          @media screen and (min-width:400px) {
            @include font(4.7);
            line-height: 1.7em;
          }
	    }
	    h3 {
	      	@include font(3);
	      	line-height: 1.5em;
          position: relative;
          opacity: 1;
          @media screen and (min-width:400px) {
            @include font(3.3);
            line-height: 1.5em;
          }

	    }
	    .divider {
	      	width: 80%;
	      	height:2px;
	      	@include margin(1em 10%);
	      	background: $fontcolor;
	      	position: relative;
          opacity: 0.8;
	    }
	}

	.blurb {
	    text-align: center;
	    @include margin(2em auto 2em auto);
	    display: block;
	    width: 94%;
	    position: relative;
	    // z-index: 1;
	    @include border-radius(0.4em);
	    @include padding(2em 2.5em);
	    &:before {
	      	content: '';
	      	position: absolute;
	      	top:0;
	      	left:0;
	      	width: 100%;
	      	height:100%;
	      	background: $brandcolor2;
	     	opacity: 0.8;
	      	// z-index: -1;
	    	@include border-radius(0.4em);
	    }
	    p {
	      	@include font(1.2);
	      	text-align: left;
          position: relative;

	    }
	}
	.tour-links {
        // display: block; 
        text-align: center;
        // @include clearfix;
        // @include margin(1em 5%);
        // width: 90%;
        position: relative;
        overflow: hidden;
        z-index: 1;
        button {
          	background: none;
          	position: relative;
          	border:none;
          	width:80%;
          	overflow: hidden;
          	@include margin(1em auto);
          	// padding:0;
          	a {
            	font-family: "roadgeek";
            	@include font(5);
            	line-height: 1.3em;
              @include padding(0.5em 0);
            	width: 100%;
            	height: 100%;
            	display: block;
              opacity: 0.8;
            	// color:lighten($buttoncolor,15%);
            	// text-shadow: 1px 1px 0.5px darken($buttoncolor,5%),
            	//  			2px 2px 0.5px darken($buttoncolor,15%),
            	//  			3px 3px 0.5px darken($buttoncolor,25%);
          	}
          	&.taco {
            	position: relative;
            	overflow: hidden;
            	z-index: 1;
            	background: url('../img/chilantro.jpg');
              	background-size: cover;
              	background-repeat:no-repeat;
              	background-position: 0% 40%;
              	@include border-radius(0.4em);
            	&:before {
              		content: '';
              		@include border-radius(0.4em);
              		position: absolute;
              		overflow: hidden;
              		top:0;
              		left:0;
              		width: 100%;
              		height:100%;
              		background-color: darken(rgba(46,82,107,0.6),5%);
                	z-index: -1;  
            	}
          	}
          
          	&.wine {
              	@include border-radius(0.4em);
            	// a {
             //  		@include font(5);
            	// 	line-height: 1.5em;
            	// }
            	position: relative;
            	overflow: hidden;
            	z-index: 1;
            	background: url('../img/wine.jpg');
              	background-size: cover;
              	background-repeat:no-repeat;
              	background-position: center;
            	&:before {
              		@include border-radius(0.4em);
              		content: '';
              		position: absolute;
              		overflow: hidden;
              		top:0;
              		left:0;
              		width: 100%;
              		height:100%;
              		background-color: darken(rgba(46,82,107,0.6),5%);
                	z-index: -1;  
            	}
         	 }

          	&.margs {
            	position: relative;
            	overflow: hidden;
            	z-index: 1;
            	background: url('../img/marg.jpg');
            	background-size: cover;
              	background-repeat:no-repeat;
              	background-position: 0% 10%;
              	@include border-radius(0.4em);
            	&:before {
              		@include border-radius(0.4em);
              		content: '';
              		position: absolute;
              		overflow: hidden;
              		top:0;
              		left:0;
              		width: 100%;
              		height:100%;
              		background-color: darken(rgba(46,82,107,0.6),5%);
                	z-index: -1;  
            	}

          	}
        }
    }
	.recents {
	    text-align: center;
	    @include margin(2em auto 2em auto);
	    display: block;
	    width: 94%;
	    position: relative;
	    overflow: hidden;
	    z-index: 1;
	    @include padding(2em 1.1em);
	    // background: url('../img/parade.jpg');
        background-repeat:no-repeat;
        background-position:center;
        background-size: cover;
        &:before {
	      	background: $brandcolor2;
	      	opacity: 0.8;
          	content: '';
          	position: absolute;
          	top:0;
          	left:0;
          	width: 100%;
          	height:100%;
          	z-index: -1;
          	@include border-radius(0.4em);
        }
	    h3 {
	      	@include font(2.4);
	      	line-height: 1.4em;
	    }
	    .divider {
	      	width: 80%;
	      	height:2px;
	      	@include margin(1em 10%);
	      	background: $fontcolor;
	    }
	    p {
	      	@include padding(1em);
	      	@include font(1.2);
	      	line-height: 1.4;
	      	text-align: left;
	    }
	    .name {
	      	@include font(0.9);
	      	@include margin(-1.2em 0.5em 0 0.5em);
	      	display: block;
	    }
	    .sub {
	      	@include margin(-1.3em 2em 0 2em);
	      	@include font(0.8);
	      	display: block;
	    }
    }
}




// <!--===========================================================
// ===============================================================  


//             Media Query


// ==============================================================
// ===========================================================-->



@media screen and (min-width:600px) {
  .home {
    @include margin(3em 0 0 0);
    @media screen and (min-width:800px){
      @include margin(0);
    }

    .tag-line {
      width: 100%;
      @include margin(0 0 0 0);
      background-position: top;

    }

    .landing-home {
      width:47%;
      float: left;
      display: block;
      position: relative;
      @include margin(1em 2% 1em 1%);
      background:none;
      .inputs {
        z-index: 10;
        overflow: hidden;
        width: 90%;
        @include margin(2em 5%);
        @include padding(1.5em);
        @include border-radius(0.4em);

        position: relative;
          &:before {
          content: '';
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          height:100%;
          background: $brandcolor2;
          opacity: 0.8;
          z-index: -1;
        }
        h3 {
          width: 80%;
          @include margin(0 10%);
        }
        input {
          width: 80%;
          float: right;
          height:30px;
          vertical-align: top;
          color: $brandcolor2;
          @include font(1.1);
          @include margin(0.5em 10% 1.5em 10%);
          @include padding(0.7em);
          font-family: $h-font;
          @include border-radius(0.2em);

        }
      }
      // .dropdown {
      //   @include font(0.8);
      // }

      // .inputs {
      //   width: 100%;
      //   overflow: hidden;
      //   border-radius:none;
      //   @include padding(0.5em);
      // }
      // input {
      //   width: 70%;
      // }
    }
      .call {
        display: block;
        float:right;
        width: 40%;
        @include margin(5em 5% 1em 5%);
        position: relative;
        padding-bottom:-5em;
        button {
            background-color: darken($highlightcolor,5%);
          @include font(2);
          color:$fontcolor;
          // padding:0.5em;
          @include padding(0.2em 0 0 0);
          width: 100%;
          // @include margin(0 0 -5em 0);
          @include transition(background-color 10ms ease-in 0s);
          @include border-radius(0.2em);

          img {
            vertical-align: middle;
          // @include margin(0.3em null null null);
          @include padding(0.3em 0 0.5em 0);
            width: 35%;
            display: inline-block;
          }
          span {
            // padding: null 0.2em null 0;
            // width: 45%;
            display: inline-block;

            @include font(1.9);
            line-height: 1em;
            @include padding(0.5em 0.3em 0 0);
          }
          &.complete {
            @include transition(background-color 10ms ease-in 0s);
          background:darken($buttoncolor,10%);
          }
        }
      }
    .blurb {
      width:47%;
      float:right;
      @include margin(3em 1% 0 2%);

    }
    
    .tour-links {
      clear: both;
    }

  }

}


// <!--===========================================================
// ===============================================================  


//             Media Query


// ==============================================================
// ===========================================================-->



@media screen and (min-width:900px) {
.home {
  @include padding(0 10%);
}

}



