.home {
	  background: $brandcolor;
  	width: 100%;
  	position: relative;
  	overflow: hidden;
	.cab-hail {
		display: none;
	}
  .landing {
    display: none;
  }
	.call {
		display: none;
	}
	.tag-line {
	    text-align: center;
	    @include margin(0.5em auto);
	    display: block;
	    width: 96%;
	    position: relative;
	    overflow: hidden;
	    padding:1em 0;
	    background: url('../img/kids.jpg');
	    background-repeat:no-repeat;
	    background-position: 80% 80%;
	    background-size: cover;
	    // z-index: 1;
	    @include border-radius(0.4em);

	    &:before {
	        content: '';
	        overflow: hidden;
	        width: 100%;
	        height: 100%;
	        position: absolute;
	        top:0;
	        left:0;
            // background-color: darken(rgba(46,82,107,0.6),15%);
                  background-color: darken(rgba(46,82,107,0.6),5%);

	        // z-index: -1;
	    	@include border-radius(0.4em);

	    }
	    h2 {
	      	display: block;
	      	@include font(4);
	      	line-height: 1.7em;
          position: relative;
          opacity: 1;
          @media screen and (min-width:400px) {
            @include font(4.7);
            line-height: 1.7em;
          }
	    }
	    h3 {
	      	@include font(3);
	      	line-height: 1.5em;
          position: relative;
          opacity: 1;
          @media screen and (min-width:400px) {
            @include font(3.3);
            line-height: 1.5em;
          }

	    }
	    .divider {
	      	width: 80%;
	      	height:2px;
	      	@include margin(1em 10%);
	      	background: $fontcolor;
	      	position: relative;
          opacity: 0.8;
	    }
	}

	.blurb {
	    text-align: center;
	    @include margin(0.5em auto 0.35em auto);
	    display: block;
	    width: 96%;
	    position: relative;
	    // z-index: 1;
	    @include border-radius(0.4em);
	    @include padding(1em 1.2em);
	    &:before {
	      	content: '';
	      	position: absolute;
	      	top:0;
	      	left:0;
	      	width: 100%;
	      	height:100%;
	      	background: $brandcolor2;
	     	opacity: 0.8;
	      	// z-index: -1;
	    	@include border-radius(0.4em);
	    }
	    p {
	      	@include font(1.2);
	      	text-align: left;
          position: relative;

	    }
	}
	.tour-links {
        // display: block; 
        text-align: center;
        // @include clearfix;
        // @include margin(1em 5%);
        // width: 90%;
        position: relative;
        overflow: hidden;
        z-index: 1;
        button {
          	background: none;
          	position: relative;
          	border:none;
          	width:96%;
          	overflow: hidden;
          	@include margin(0.5em auto);
          	// padding:0;
          	a {
            	font-family: "roadgeek";
            	@include font(7);
            	line-height: 1.3em;
              // @include padding(0.1em);
            	width: 100%;
            	height: 100%;
            	display: block;
              opacity: 0.8;
            	// color:lighten($buttoncolor,15%);
            	// text-shadow: 1px 1px 0.5px darken($buttoncolor,5%),
            	//  			2px 2px 0.5px darken($buttoncolor,15%),
            	//  			3px 3px 0.5px darken($buttoncolor,25%);
          	}
          	&.taco {
            	position: relative;
            	overflow: hidden;
            	z-index: 1;
            	background: url('../img/chilantro.jpg');
              	background-size: cover;
              	background-repeat:no-repeat;
              	background-position: 0% 40%;
              	@include border-radius(0.4em);
            	&:before {
              		content: '';
              		@include border-radius(0.4em);
              		position: absolute;
              		overflow: hidden;
              		top:0;
              		left:0;
              		width: 100%;
              		height:100%;
              		background-color: darken(rgba(46,82,107,0.6),5%);
                	z-index: -1;  
            	}
          	}
          
          	&.wine {
              	@include border-radius(0.4em);
            	a {
              		@include font(6.5);
            		line-height: 1.5em;
            	}
            	position: relative;
            	overflow: hidden;
            	z-index: 1;
            	background: url('../img/wine.jpg');
              	background-size: cover;
              	background-repeat:no-repeat;
              	background-position: center;
            	&:before {
              		@include border-radius(0.4em);
              		content: '';
              		position: absolute;
              		overflow: hidden;
              		top:0;
              		left:0;
              		width: 100%;
              		height:100%;
              		background-color: darken(rgba(46,82,107,0.6),5%);
                	z-index: -1;  
            	}
         	 }

          	&.margs {
            	position: relative;
            	overflow: hidden;
            	z-index: 1;
            	background: url('../img/marg.jpg');
            	background-size: cover;
              	background-repeat:no-repeat;
              	background-position: 0% 10%;
              	@include border-radius(0.4em);
            	&:before {
              		@include border-radius(0.4em);
              		content: '';
              		position: absolute;
              		overflow: hidden;
              		top:0;
              		left:0;
              		width: 100%;
              		height:100%;
              		background-color: darken(rgba(46,82,107,0.6),5%);
                	z-index: -1;  
            	}

          	}
        }
    }
	.recents {
	    text-align: center;
	    @include margin(0.4em auto 0.5em auto);
	    display: block;
	    width: 96%;
	    position: relative;
	    overflow: hidden;
	    z-index: 1;
	    @include padding(0.5em 0.1em);
	    // background: url('../img/parade.jpg');
        background-repeat:no-repeat;
        background-position:center;
        background-size: cover;
        &:before {
	      	background: $brandcolor2;
	      	opacity: 0.8;
          	content: '';
          	position: absolute;
          	top:0;
          	left:0;
          	width: 100%;
          	height:100%;
          	z-index: -1;
          	@include border-radius(0.4em);
        }
	    h3 {
	      	@include font(2.4);
	      	line-height: 1.4em;
	    }
	    .divider {
	      	width: 80%;
	      	height:2px;
	      	@include margin(1em 10%);
	      	background: $fontcolor;
	    }
	    p {
	      	@include padding(1em);
	      	@include font(1.2);
	      	line-height: 1.4;
	      	text-align: left;
	    }
	    .name {
	      	@include font(0.9);
	      	@include margin(-1.2em 0.5em 0 0.5em);
	      	display: block;
	    }
	    .sub {
	      	@include margin(-1.3em 2em 0 2em);
	      	@include font(0.8);
	      	display: block;
	    }
    }
}




// <!--===========================================================
// ===============================================================  


//             Media Query


// ==============================================================
// ===========================================================-->



@media screen and (min-width:600px) {
  .home {
    @include margin(3em 0 0 0);

    .tag-line {
      width: 100%;
      @include margin(0 0 0 0);
      background-position: top;
    }

    .landing {
      width:47%;
      float: right;
      display: block;
      position: relative;
      @include margin(-2em 2% 1em 1%);
      background:none;
      .dropdown {
        @include font(0.8);
      }

      .call {
        display: block;
        position: relative;
      }
      .inputs {
        width: 100%;
        overflow: hidden;
        border-radius:none;
        @include padding(0.5em);
      }
      input {
        width: 70%;
      }
    }

    .blurb {
      width:47%;
      float:left;
      @include margin(3em 1% 0 2%);

    }
    
    .tour-links {
      clear: both;
    }

  }

}







