.tours {
    background: $brandcolor;
    background-color: darken(rgba(46,82,107,1),10%);

    width: 100%;
    position: relative;
    // z-index: 1;
    overflow: hidden;

    

    .hero {
        background: url('../img/ride.jpg');
        text-align: center;
        @include margin(1em auto);
        display: block;
        width: 94%;
        position: relative;
        overflow: hidden;
        @include padding(1em 0);
        background-repeat:no-repeat;
        background-position: 80% 80%;
        background-size: cover;
        // z-index: 1;
        @include border-radius(0.3em);

        &:before {
            content: '';
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
              background-color: darken(rgba(46,82,107,0.6),5%);
            // z-index: -1;
          @include border-radius(0.2em);

        }
        .divider {
            width: 300px;
            height:2px;
            @include margin(3em auto);
            background: $fontcolor;
            position: relative;
          opacity: 0.8;
        }
        h3 {
            display: block;
            @include font(2.3);
            line-height: 1.7em;
            position: relative;
            @include margin(-0.2em 0 0.7em 0);
            opacity: 1;
            // color: lighten($buttoncolor,20%);
            @media screen and (min-width:400px) {
                @include font(2.3);
                line-height: 1.7em;
            }

        }
        h2 {
            display: block;
            @include font(3.7);
            line-height: 1.5em;
            position: relative;
            // color: lighten($buttoncolor,20%);
            @include margin(0.1em 0 -0.2em 0);

            opacity: 1;
            @media screen and (min-width:400px) {
                @include font(4);
                line-height: 1.7em;
            }

        }
    }
    .experience {
        text-align: center;
        @include margin(1em auto 2em);
        @include padding(0 1.5em);
        display: block;
        width: 94%;
        position: relative;
        z-index: 1;
        @include border-radius(0.3em);
        // @include padding(1em 1.5em);
        &:before {
            content: '';
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height:100%;
            background: $brandcolor2;
          opacity: 0.8;
            z-index: -1;
          @include border-radius(0.3em);
        }
        // p {
        //     @include font(1.1);
        //     text-align: left;
        //     @include padding(1em 0);
        // }
        p {
            @include font(1.2);
            text-align: left;
            position: relative;
            @include padding(1em 0);


        }
    }

    .tour-desc {
        @include margin(1em auto);
        display: block;
        width: 94%;
        position: relative;
        overflow: hidden;
    }
    .tour-box {
        width: 100%;
        overflow:hidden;
        position: relative;
        @include margin(1em 0 2em);

    }
    .mini-hero {
        min-height: 18em;
        h4 {
            display: block;
            text-align: center;
            @include font(2.8);
            @include margin(1.4em 0 0.8em 0);
            line-height: 0.7em;
            position: relative;
        }
        p {
            display: block;
            @include font(1.1);
            line-height: 1.5em;
            position: relative;
            width: 70%;
            max-width: 365px;
            @include margin(2em auto 3em auto);
        }
        .divider {
            width: 200px;
            height:2px;
            @include margin(1em auto);
            background: $fontcolor;
            position: relative;
        }
    }
    .tour-info {
        width: 100%;
        @include margin(0.5em 0 1em 0);
        background:$brandcolor2;
        .sub-info {
            width: 40%;
            @include margin(1em 2%);
            display: inline-block;
            vertical-align: top;

        }
        ul {
            // display: inline-block;
            text-align: center;
            @include margin(1em 0);
            @include font(0.7);
        }
        h3{
            text-align: center;
            @include font(2);
        }h5{
            text-align: center;
            @include font(1.5);
        }

        li {
            // @include margin(0.1em 0 0.1em 2em);
            display: block;
            position: relative;
            font-family: $h-font;
        }
        p {
            display: inline-block;
            width: 50%;
            @include margin(1em 2%);
            @include padding(0.5em);
            @include font(1.05);
            line-height: 1.5em;

        }
    }
    .taco {
        position: relative;
        overflow: hidden;
        width: 100%;
        z-index: 1;
        background: url('../img/chilantro.jpg');
        background-size: cover;
        background-repeat:no-repeat;
        @include border-radius(0.3em);
        &:before {
            content: '';
            @include border-radius(0.3em);
            position: absolute;
            overflow: hidden;
            top:0;
            left:0;
            width: 100%;
            height:100%;
            background-color: darken(rgba(46,82,107,0.6),15%);
            z-index: -1;  
        } 
    }
    .wine {
        position: relative;
        overflow: hidden;
        width: 100%;
        z-index: 1;
        background: url('../img/wine.jpg');
        background-size: cover;
        background-repeat:no-repeat;
        @include border-radius(0.3em);
        &:before {
            content: '';
            @include border-radius(0.3em);
            position: absolute;
            overflow: hidden;
            top:0;
            left:0;
            width: 100%;
            height:100%;
            background-color: darken(rgba(46,82,107,0.6),15%);
            z-index: -1;  
        } 
    }
    .marg {
        position: relative;
        overflow: hidden;
        width: 100%;
        z-index: 1;
        background: url('../img/marg.jpg');
        background-size: cover;
        background-repeat:no-repeat;
        @include border-radius(0.3em);
        &:before {
            content: '';
            @include border-radius(0.3em);
            position: absolute;
            overflow: hidden;
            top:0;
            left:0;
            width: 100%;
            height:100%;
            background-color: darken(rgba(46,82,107,0.6),15%);
            z-index: -1;  
        } 
    }
    .pub {
        position: relative;
        overflow: hidden;
        width: 100%;
        z-index: 1;
        background: url('../img/dash.jpg');
        background-size: cover;
        background-repeat:no-repeat;
        @include border-radius(0.3em);
        &:before {
            content: '';
            @include border-radius(0.3em);
            position: absolute;
            overflow: hidden;
            top:0;
            left:0;
            width: 100%;
            height:100%;
            background-color: darken(rgba(46,82,107,0.6),15%);
            z-index: -1;  
        } 
    }
    


}




// <!--===========================================================
// ===============================================================  


//             Tablet Media Query


// ==============================================================
// ===========================================================-->



@media screen and (min-width:600px) {
    .tours {
        .hero {

            width: 100%;
            @include margin(0 0 0 0);
            background-position: center;

            h3 {
                display: block;
                @include font(2.75);
                line-height: 1em;
                position: relative;
                @include margin(1.5em 0 1em 0);
                // opacity: 0.85;
                // color: lighten($buttoncolor,20%);


            }
            h2 {
                display: block;
                @include font(5);
                line-height: 1.4em;
                position: relative;
                @include margin(0);

                // color: lighten($buttoncolor,20%);
                // opacity: 0.75;

            }
            .divider {
                width: 300px;
                height:2px;
                // @include margin(0 auto 2em);
                // background: $fontcolor;
                // position: relative;
              // opacity: 0.8;
            }
        }
        .experience {
            @include margin(3em auto 2em);
            
            @include padding(1em);
            p {
                width: 80%;
                // @include margin(1em auto);
                display: inline-block;
                vertical-align: top;
                @include font(1.2);
                // @include padding(1em);

            }
        }
        .mini-hero {
                width: 100%;
                // @include margin(0 5%);
                height: 6em;
            }
        .tour-info {
            
            p {
                display: inline-block;
                width: 45%;
                @include margin(0.5em auto 1em 2em);
                @include padding(1em);
                @include font(1.2);
                line-height: 1.5em;

            }
        }
    }
}


// <!--===========================================================
// ===============================================================  


//             Desktop Media Query


// ==============================================================
// ===========================================================-->

@media screen and (min-width:900px) {

    .tours {
        // width: 80%;
        // @include padding(0 10%);
        .content {
          width: 80%;
          @include margin(0 10%);
        }
        .hero {
            height:50em;
            width: 100%;
          @include padding(10em 0 10em 0);
            &:before {
                // @include gradient-hori(rgba(0,0,0,0.8), darken(rgba(46,82,107,0.6),5%),0%,40%);
                @include gradient-hori(darken(rgba(46,82,107,0.8),85%), darken(rgba(46,82,107,0.6),5%),0%,40%);
                // background: darken(rgba(46,82,107,0.8),65%);
            }
            @media screen and (min-width:1200px) {
                height: 60em;
            }
            h2 {
                @include margin(1em auto 0 auto)
            }
        }
        .experience {

        }
        .tour-box {
            .mini-hero {
                width: 90%;
                @include margin(0 5%);
                height: 5em;
            }
            @media screen and (min-width:1200px) {
                width: 48%;
                display: inline-block;
                float: left;
                    @include margin(1em 2% 2em 0);
                
                .mini-hero {
                    height: 4.5em;
                    width: 100%;
                    @include margin(0 0);

                }
                &:nth-of-type(2n) {
                    @include margin(1em 0 2em 2%);

                    
                }
            }
        }
    }




}














