
.slide-up, .slide-down {
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out, 
    					opacity 0.5s 0.5s linear;
    -moz-transition: max-height 0.5s ease-in-out, 
    					opacity 0.5s 0.5s linear;
    -o-transition: max-height 0.5s ease-in-out, 
    					opacity 0.5s 0.5s linear;
    transition: max-height 0.5s ease-in-out, 
    					opacity 0.5s 0.5s linear;
    opacity: 0;
}
.slide-down {            
    max-height: 60em;
    overflow: hidden;
    opacity: 1;
}
.navigation-wrapper {
    background:darken($brandcolor,10%);
    // background:$brandcolor2;

}
.booking {
	position: relative;
  background:$brandcolor;
  background: rgba(46,82,107,1);
  z-index: 99;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  @include padding(0 5%);
  @media screen and (min-width:400px) {
    @include margin(0 auto);
  }
  .booking-content {
    position: relative;
    // @include padding(2em 0);
  }

	.divider {
  	width: 80%;
  	height:2px;
  	@include margin(1em 10%);
  	background: $fontcolor;
  	position: relative;
  	opacity: 0.8;
  }
	fieldset {
		@include padding(2em 5%);
	}
  h3 {
    width: 80%;
    @include margin(0 10%);
    text-align:center;
  }
  input[type=text] {
    &.input-reg {
      width: 98%;
      vertical-align: top;
      color: #2E526B;
      @include font(1.1);
      @include margin(1em 1%);
      @include padding(0.7em);
      font-family: $h-font;
      border:none;
    	position: relative;
  	  z-index: 2;
      background:#67B692;
        @include border-radius(0.3em); 

      box-shadow: 3px 3px 0px 0px #1D3058;
    }
  }
  .radios {
  	text-align: center;
    vertical-align: top;
    color: #2E526B;
    @include font(1.1);
    font-family: $h-font;
    position: relative;
    @include margin(1em 0);
  }
  input[type=checkbox] {
    display:none; 
	}
	input[type=checkbox] + label {
        @include border-radius(0.3em); 

	    display:inline-block;
	    @include padding(0.7em);
	    background:#67B692;
      box-shadow: 3px 3px 0px 0px #1D3058;
	}
	input[type=checkbox]:checked + label { 
        @include border-radius(0.3em); 

	    background-image: none;
	    background-color:$highlightcolor;
	    color:white;
	}
	.radio-one {
		width: 25%;
		@include margin(0 3% 0 0);
	}
  .radio-two {
    width: 40%;
    @include margin(0);
    input {
      @include font(1);
      font-family: $h-font;
      background:transparent;
      width: auto;
      border: none;
    }
  }
  input[type=checkbox]:checked > .custom_party { 
      background-image: none;
      background-color:$highlightcolor;
      color:white;
  }
	.hidden-content-two {
		width: 100%;
	}
	.toggle-content-three {
		width: 40%;
  	font-family: $h-font;
  	@include font(1.1);
  	color: #2E526B;
		@include margin(0 30%);
		@include padding(0.2em);
		border: none;
	   background:#67B692;
    box-shadow: 3px 3px 0px 0px #1D3058;
	}
	.combodate {
    @include margin(0 20%);
    text-align: center;
    display: block;

		select {
			border:none;
			border-radius:0;
			-webkit-appearance: none;
  		@include padding(0.9em);
  		background:#67B692;
  		box-shadow: 3px 3px 0px 0px #1D3058;
    	@include font(0.6);
    	overflow: hidden;
    	text-transform: uppercase;
        @include border-radius(0.3em); 

		}
	}

	.call {
	    width: 60%;
	    @include margin(2em 20% 1em);
	    @include padding(0.1em);
	    @include font(1.2);
	    position: relative;
      background-color: darken($highlightcolor,5%);
      color:$fontcolor;
     	@include transition(background-color 300ms ease-in 0s);
		border: none;
        @include border-radius(0.3em); 
    
      	img {
        	display: none;
      	}
      	&.complete {
        	@include transition(background-color 300ms ease-in 0s);
      		background:darken($buttoncolor,10%);
      	}	    
	}

    ::-webkit-input-placeholder {
	   color: #2E526B;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #2E526B;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #2E526B;  
	}

	:-ms-input-placeholder {  
	   color: #2E526B;  
	}
}
@media screen and (min-width:700px) {
  .booking {
    max-width: 900px;
    // @include margin(2em auto);
    // @include padding(2em 5%);
    .left {
      width: 45%;
      display: inline-block;
      @include margin(1em 1%);
      float: left;
    }
    .divider {
      display: none;
    }
    .toggle-content-three {
      display: inline-block;
      width: 45%;
      float: right;
      @include margin(0 1%);
      // width: 40%;
      // font-family: $h-font;
      @include font(2);
      color: $fontcolor;
      // @include margin(0 30%);
      // @include padding(0.2em);
      // border: none;
      background:transparent;
      box-shadow: none;

    }
    .hidden-content-three {
      display: inline-block;
      width: 45%;
      @include margin(1em 1%);
      float: right;
      input[type=text].input-reg {
        @include margin(0.1em 1% 1.7em);

      }
    }
    .call {
      display: inline-block;
      width: 45%;
      @include margin(1em 1%);
      float: right;
    }
  }
}









 