<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
<script type="text/javascript" src="{{ site.baseurl }}/js/modernizer.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/snap.svg.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.js"></script>
  </body>

</html>
