.home {
	background: $brandcolor;
  	width: 100%;
  	position: relative;
  	overflow: hidden;
	.landing {
		display: none;
	}
	.call {
		display: none;
	}
	.tag-line {
	    text-align: center;
	    @include margin(2em 5%);
	    display: block;
	    width: 90%;
	    position: relative;
	    overflow: hidden;
	    padding:1em 0;
	    background: url('../img/kids.jpg');
	    background-repeat:no-repeat;
	    background-position: 80% 80%;
	    background-size: cover;
	    z-index: 1;
	    @include border-radius(0.3em);

	    &:before {
	        content: '';
	        overflow: hidden;
	        width: 100%;
	        height: 100%;
	        position: absolute;
	        top:0;
	        left:0;
            background-color: darken(rgba(46,82,107,0.6),5%);
	        z-index: -1;
	    	@include border-radius(0.3em);

	    }
	    h2 {
	      	display: block;
	      	@include font(4.7);
	      	line-height: 1.7em;
	    }
	    h3 {
	      	@include font(3.3);
	      	line-height: 1.5em;
	    }
	    .divider {
	      	width: 80%;
	      	height:2px;
	      	@include margin(1em 10%);
	      	background: $fontcolor;
	      	position: relative;
	    }
	}

	.blurb {
	    text-align: center;
	    @include margin(2em 5%);
	    display: block;
	    width: 90%;
	    position: relative;
	    z-index: 1;
	    @include border-radius(0.3em);
	    @include padding(1em 1.5em);
	    &:before {
	      	content: '';
	      	position: absolute;
	      	top:0;
	      	left:0;
	      	width: 100%;
	      	height:100%;
	      	background: $brandcolor2;
	     	opacity: 0.8;
	      	z-index: -1;
	    	@include border-radius(0.3em);
	    }
	    p {
	      	@include font(1.2);
	      	text-align: left;
	    }
	}
	.tour-links {
        display: block; 
        text-align: center;
        @include clearfix;
        @include margin(2em 5%);
        width: 90%;
        position: relative;
        overflow: hidden;
        z-index: 1;
        button {
          	background: none;
          	position: relative;
          	border:none;
          	width:100%;
          	overflow: hidden;
          	@include margin(1.5em 0);
          	padding:0;
          	a {
            	font-family: "roadgeek";
            	@include font(7.7);
            	line-height: 1.3em;
            	width: 100%;
            	height: 100%;
            	display: block;
            	color:lighten($buttoncolor,15%);
            	text-shadow: 1px 1px 0.5px darken($buttoncolor,5%),
            	 			2px 2px 0.5px darken($buttoncolor,15%),
            	 			3px 3px 0.5px darken($buttoncolor,25%);
          	}
          	&.taco {
            	position: relative;
            	overflow: hidden;
            	z-index: 1;
            	background: url('../img/chilantro.jpg');
              	background-size: cover;
              	background-repeat:no-repeat;
              	background-position: 0% 40%;
              	@include border-radius(0.3em);
            	&:before {
              		content: '';
              		@include border-radius(0.3em);
              		position: absolute;
              		overflow: hidden;
              		top:0;
              		left:0;
              		width: 100%;
              		height:100%;
              		background-color: darken(rgba(46,82,107,0.6),5%);
                	z-index: -1;  
            	}
          	}
          
          	&.wine {
              	@include border-radius(0.3em);
            	a {
              		@include font(6.5);
            		line-height: 1.5em;
            	}
            	position: relative;
            	overflow: hidden;
            	z-index: 1;
            	background: url('../img/wine.jpg');
              	background-size: cover;
              	background-repeat:no-repeat;
              	background-position: center;
            	&:before {
              		@include border-radius(0.3em);
              		content: '';
              		position: absolute;
              		overflow: hidden;
              		top:0;
              		left:0;
              		width: 100%;
              		height:100%;
              		background-color: darken(rgba(46,82,107,0.6),5%);
                	z-index: -1;  
            	}
         	 }

          	&.margs {
            	position: relative;
            	overflow: hidden;
            	z-index: 1;
            	background: url('../img/marg.jpg');
            	background-size: cover;
              	background-repeat:no-repeat;
              	background-position: 0% 10%;
              	@include border-radius(0.3em);
            	&:before {
              		@include border-radius(0.3em);
              		content: '';
              		position: absolute;
              		overflow: hidden;
              		top:0;
              		left:0;
              		width: 100%;
              		height:100%;
              		background-color: darken(rgba(46,82,107,0.6),5%);
                	z-index: -1;  
            	}

          	}
        }
    }
	.recents {
	    text-align: center;
	    @include margin(0.6em 5% 0.6em 5%);
	    display: block;
	    width: 90%;
	    position: relative;
	    overflow: hidden;
	    z-index: 1;
	    padding:1em;
	    // background: url('../img/parade.jpg');
        background-repeat:no-repeat;
        background-position:center;
        background-size: cover;
        &:before {
	      	background: $brandcolor2;
	      	opacity: 0.8;
          	content: '';
          	position: absolute;
          	top:0;
          	left:0;
          	width: 100%;
          	height:100%;
          	z-index: -1;
          	@include border-radius(0.3em);
        }
	    h3 {
	      	@include font(2.4);
	      	line-height: 1.4em;
	    }
	    .divider {
	      	width: 80%;
	      	height:2px;
	      	@include margin(1em 10%);
	      	background: $fontcolor;
	    }
	    p {
	      	@include padding(1em);
	      	@include font(1.2);
	      	line-height: 1.4;
	      	text-align: left;
	    }
	    .name {
	      	@include font(0.9);
	      	@include margin(-1.2em 0.5em 0 0.5em);
	      	display: block;
	    }
	    .sub {
	      	@include margin(-1.3em 2em 0 2em);
	      	@include font(0.8);
	      	display: block;
	    }
    }
}




// <!--===========================================================
// ===============================================================  


//             Tablet Media Query


// ==============================================================
// ===========================================================-->












